<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="main" th:fragment="footerFragment">
    <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
            <div class="row">
                <div class="col-4">
                    <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                        <div class="logo mb-30">
                            <a href="index.html" class="mb-15"><img src="assets/imgs/theme/logo.svg" alt="logo" /></a>
                            <p class="font-lg text-heading">팀장: 송중기</p>
                        </div>
                        <ul class="contact-infor">
                            <li>team03의 송중기 자기소개 ㅋㅋ</li>
                            <li>지도 검색</li>
                            <li><img th:src="@{/resource/user/assets/imgs/theme/icons/icon-email-2.svg}" alt="" /><strong>Email:</strong><span>sale@Nest.com</span></li>
                        </ul>
                    </div>
                    <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                        <div class="logo mb-30">
                            <a href="index.html" class="mb-15"><img src="assets/imgs/theme/logo.svg" alt="logo" /></a>
                            <p class="font-lg text-heading">팀원: 갓은수</p>
                        </div>
                        <ul class="contact-infor">
                            <li>team03의 박은수 자기소개 ㅋㅋ</li>
                            <li>지도 검색</li>
                            <li><img th:src="@{/resource/user/assets/imgs/theme/icons/icon-email-2.svg}" alt="" /><strong>Email:</strong><span>sale@Nest.com</span></li>
                        </ul>
                    </div>
                    <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                        <div class="logo mb-30">
                            <a href="index.html" class="mb-15"><img src="assets/imgs/theme/logo.svg" alt="logo" /></a>
                            <p class="font-lg text-heading">팀원: 한송이</p>
                        </div>
                        <ul class="contact-infor">
                            <li>team03의 한송이 자기소개 ㅋㅋ</li>
                            <li>지도 검색</li>
                            <li><img th:src="@{/resource/user/assets/imgs/theme/icons/icon-email-2.svg}" alt="" /><strong>Email:</strong><span>sale@Nest.com</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>


</html>